<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="appfactory.spotify">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Activities.Play_Activity"
            android:theme="@android:style/Theme.Dialog"/>

        <!-- Needed for LoginActivity to work -->
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <activity
            android:name=".Activities.Artists_Activity"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTop"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".Activities.Track_Activity"
            android:parentActivityName=".Activities.Artists_Activity"
            android:label="@string/top10"
             />

        <activity android:name=".Activities.Splash_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>


    </application>
</manifest>